<div class="background">
  <div class="overlay">
    <div class="content">
        <div id="chamada">
          <h1>Lorem Ipsum Dolor</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>
        <div class="box-principal">
            <div id="custom-search">
              <input type="text" placeholder="Cidade..."/>
              <input class="btn_search" value="submit" type="submit">
            </div>
        </div>
    </div>
  </div>
</div>
<section class="section">
    <div class="container">
    <div class="header">
        <h3>Explore o que tem <span>por perto</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        <span class="tb"><em></em></span>
    </div>
    <div class="contentS
    </div>
    </div>
</section>
