<div class="background">
  <div class="overlay">
    <div class="content">
        <div class="box-principal">
            <h1>Encontre uma cidade</h1>
            <input type="text" placeholder="Cidade..."/>
            <button type="button" class="btn btn-primary">Encontrar</button>
        </div>
    </div>
  </div>
</div>
