<div class="background">
  <div class="overlay">
    <div class="content">
      <div class="class="col-xs-12 col-md-6 col-offset-md-3"">
        <div id="chamada" >
          <h1>Lorem Ipsum Dolor</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>
        </div>
    </div>
  </div>

</div>
<section class="section">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="header">
              <h3>Explore o que tem <span>por perto</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
              <span class="tb"><em></em></span>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-6">
            <div class="box">
                <span id="circulo">
                  4
                </span>
               <span><i class="fa fa-building-o" aria-hidden="true"></i></span>
               <h4>Pontos Turisticos</h4>
               <p>Conheça os principais pontos turisticos </p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="box">
                <span id="circulo">
                3
                </span>
               <span> <i class="fa fa-user-secret" aria-hidden="true"></i> </span>
               <h4>Segurança</h4>
               <p>Obtenha informações de criminalidade de uma região</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="box">
                <span id="circulo">
                  4
                </span>
               <span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
               <h4>Entretenimento</h4>
               <p>Saiba os melhores locais para se divertir.</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="box">
                <span id="circulo">
                  2
                </span>
               <span><i class="fa fa-cutlery" aria-hidden="true"></i></span>
               <h4>Gastronomia</h4>
               <p>Alimente-se e tenha experiencias incriveis nos melhores lugares</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div id="map"></div>
          <a id="novo" href="/points/new">Cadastrar novo local</a>
        </div>
      </div>
    </div>
    <div class="box-principal">
        <div id="custom-search">
          <input type="text" placeholder="Cidade..." id="cidade"/>
          <input class="btn_search" value="submit" type="submit">
        </div>
    </div>
</section>

<script type="text/javascript">
    var cities = [];
    var pointList = <%=raw @point_list.to_json(:include => [:category])%>
    console.log(pointList)
    var map;
    var geocoder;
    var openedInfoWindow = null;
    var myLatlng;


    function initMap(){
        // Verifica se o browser do usuario tem suporte a Geolocation
        if ( navigator.geolocation ){
          navigator.geolocation.getCurrentPosition(function(posicao ){
            console.log(posicao.coords.latitude)
            console.log(posicao.coords.longitude)
            myLatlng = new google.maps.LatLng(posicao.coords.latitude, posicao.coords.longitude);
            geocoder = new google.maps.Geocoder();
            funcao(myLatlng);
          });
        }else{
          myLatlng = new google.maps.LatLng(-14.235004,-51.92528);
          geocoder = new google.maps.Geocoder();
          funcao(myLatlng);
        }


    }

    function funcao(myLatlng){
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatlng,
        zoom: 12,
        mapTypeControl: false,
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.RIGHT_CENTER
        },
        scaleControl: false,
      });
      loadingPoints(map);
    }
    function loadingPoints(map) {
      console.log('pontos')
      console.log(map)
      $.each(pointList, function(i, point) {
        console.log(point.category.name)
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(point.lat, point.lng),
              icon: '/imagens/pin-'+point.category.id+'.png',
              animation: google.maps.Animation.DROP,
              map: map
          });
          if (point.title.length > 30){
            point.title = point.title.substr(0,30)+"...";
          }
          var url = '/points/'+point.id;
          var contentString = '<div id="infobox">' +
                    '<div class="title"><a href="'+url+'"> '+point.title+' </a></div>' +
                    '<div class="content">' +
                      '<p>'+point.description.substr(0,120)+'...</p>' +
                      '<p><a href="'+url+'" class="more">+ detalhes</p>' +
                    '</div>' +
                  '</div>';
          var infowindow = new google.maps.InfoWindow({
              content: contentString,
               maxWidth: 265
          });
          // INICIO DA PERSONALIZAÇÃO DA INFOWINDOW.
          // O evento google.maps.event.addListener() espera pela
          // criação da estrutura HTML da infowindow 'domready'
          // e antes da abertura da infowindow serão aplicados
          // os estilos definidos
          // *
          google.maps.event.addListener(infowindow, 'domready', function() {
            // Referência ao DIV que agrupa o fundo da infowindow
            var iwOuter = $('.gm-style-iw');
            var iwBackground = iwOuter.prev();
            // Remover o div da sombra do fundo
            iwBackground.children(':nth-child(2)').css({'background' : 'rgba(78, 3, 10, 0.9)','border-radius':'15px','position':'relative'});
            // Remover o div de fundo branco
            iwBackground.children(':nth-child(4)').css({'display' : 'none'});
            // Altera a cor desejada para a sombra da cauda
            iwBackground.children(':nth-child(3)').find('div').children().css({'background': 'rgba(78, 3, 10, 0.9)','top':'4px', 'z-index' : '1'});
          });
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                if (openedInfoWindow !== null){
                console.log('fechei a outra')
                openedInfoWindow.close();
            }else{
              console.log('nao fechei nada')
            }
                infowindow.close();
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
                openedInfoWindow = infowindow;
            };
          })(marker));
      });
    }

    $('#cidade').keyup(function(){
      var cidade = $(this).val();

      if(cidade.length >= 3){
        atualizar(cidade);
      }
    })

    function atualizar(address) {
        geocoder.geocode({ 'address': address + ', Brasil', 'region': 'BR' }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                  console.log(results[0]);
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    var location = new google.maps.LatLng(latitude, longitude);
                    var fenway = {lat:latitude,lng:longitude}
                    map.setCenter(location);
                    map.setZoom(13);
                }
            }
        });
      }



    // $('.filter-category').click(function(){
    //   $('.filter-category').removeClass('active');
    //   $(this).addClass('active');
    //   var filter = $(this).attr('data-tag');
    //   if(filter == 'all'){
    //     markerCluster.setMap(map);
    //   }else{
    //     markerCluster.setMap(null);
    //     setMapOnAll(map,arrMarkers,filter);
    //   }
    //   //setMapOnAll(map,arrMarkers,filter);
    // })
    //
    // $('.tool-bar').click(function(){
    //   $('.tool-content').css('left','0%');
    // })
    //
    //     $('.close').click(function(){
    //   $('.tool-content').css('left','100%');
    // })


    $(document).ready(function(){
      $('#cidade').keypress(function(e) {
          if(e.which == 13) {
            console.log("sadad")
            $('html, body').animate({
                scrollTop: $('#simulate').offset().top,
              }, 700);
          }
      });
    })
</script>
